@inject ISinhVienService SinhVienService
@inject ISnackbar Snackbar
@using MudBlazor.Services

<MudPaper Width="100%" Square="true" Class="mud-theme-primary">
<h1 style="text-align:center">Cập nhật thông tin Sinh Viên</h1>
<EditForm Model="@sinhvien" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <MudPaper Width="100%">
       <MudGrid>
            <MudItem xs="12" sm="3">
                    <MudImage Fluid="true" Src="./Anh/EPUlogo.png" Width="250" Height="270" Alt="Swedish Farm House" Elevation="25" Class="rounded-lg ma-4"/>
            </MudItem>
            <MudItem xs="12" sm="5">
                   <MudTextField Label="Mã Sinh Viên" HelperText="Max. 8 characters" Disabled="true"
                                  @bind-Value="sinhvien.MaSinhVien" For="@(() => sinhvien.MaSinhVien)"/>
                   <MudTextField Label="Tên Sinh Viên" HelperText="Max. 8 characters" Disabled="true"
                                  @bind-Value="sinhvien.TenSinhVien" For="@(() => sinhvien.TenSinhVien)"/>
                    <MudText style="padding:20px">Khoa : CNTT</MudText>
                    <MudText style="padding:20px">Chuyên Ngành : CNPM</MudText>
            </MudItem>
            <MudItem xs="12" sm="4">
                   <MudRadioGroup @bind-SelectedOption="@sinhvien.GioiTinh">
                        <MudRadio Option="@("Nam")" Color="Color.Primary">Nam</MudRadio>
                        <MudRadio Option="@("Nữ")" Color="Color.Secondary">Nữ</MudRadio>
                    </MudRadioGroup>

                    <MudTextField Label="Dan Toc" HelperText="Max. 8 characters"
                                  @bind-Value="sinhvien.DanToc" For="@(() => sinhvien.DanToc)"/>
                    <MudTextField Label="Dia Chi" HelperText="Max. 8 characters"
                                  @bind-Value="sinhvien.DiaChi" For="@(() => sinhvien.DiaChi)"/>
                    <MudTextField Label="So dien thoai" HelperText="Max. 10 characters"
                                  @bind-Value="sinhvien.SoDienThoai" For="@(() => sinhvien.SoDienThoai)"/>
            </MudItem>
     
            <MudItem xs="12" sm="3">
                <MudText Typo="Typo.body2" Align="Align.Center">
           
                </MudText>
            </MudItem>
             <MudItem xs="12" sm="9">
                <MudButton ButtonType="ButtonType.Submit"  Variant="Variant.Filled" Color="Color.Primary">Cập nhật thông tin</MudButton>
                <MudButton OnClick="Cancel" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Cancel</MudButton>
            </MudItem>
        </MudGrid>
    </MudPaper>
</EditForm>
</MudPaper>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public int Id { get; set; }
    private BLSinhVien sinhvien { get; set; } = new BLSinhVien();
    void Cancel() => MudDialog.Cancel();
    private async void OnValidSubmit(EditContext context)
    {
         await SinhVienService.Update(sinhvien);
         StateHasChanged();
         Snackbar.Configuration.SnackbarVariant = Variant.Filled;
         Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopEnd;
         Snackbar.Add($"Đã Sửa thành công ", Severity.Success);
         MudDialog.Close(DialogResult.Ok(sinhvien.Id));       
    }
     protected override async Task OnParametersSetAsync()
    {
            BLSinhVien checksinhvien = await SinhVienService.GetId((int)Id);
            if(checksinhvien!=null)
            {
                sinhvien = checksinhvien;
            }
    }
}